* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  overscroll-behavior: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  line-height: 2;
  padding-left: 0 !important;
}

.social-media-icons { 
  margin: 12px 0 0;
}

.social-media-icon-wrapper {
  position: relative;
  display: inline-block;
}

/* Using 'social-media-icon-wrapper:not(:last-child)::after' would be much easier but for some reason not working */
.x-wrapper::after,
.gh-wrapper::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  right: -9px;
  height: 100%;
  background-color: #fff;
  width: 1px;
}

.social-media-icon {
  width: 32px;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  border: solid 2px #000;
}